<html ng-app="myApp">
	<body ng-controller='mainCtrl'>

		<h1>Filter by: </h2>
			<label>Name: </label> <input type="text" ng-model="nameFilter" placeholder="Enter Name"></input>
			<label>Phone: </label> <input type="text" ng-model="phoneFilter" placeholder="Enter Phone #"></input>
			<label>E-Mail: </label> <input type="text" ng-model="emailFilter" placeholder="Enter E-Mail"></input>
		<ol>
			<li ng-repeat="person in people | filter: {name: nameFilter, phone: phoneFilter, email: emailFilter}">{{person.name}} -- {{person.phone}} -- {{person.email}}</li>
		</ol>
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
